{% extends '::base.html.twig' %}

{% block content %}
    <section class="content">
        <h1>
            {{ data.question.textQuestion }}
        </h1>
        <ul class="list-inline question-list">
            {% for i in 1..data.count_questions %}
                <li class="{{ i == data.current_number_question ? 'active' }}">{{ i }}</li>
            {% endfor %}
        </ul>
        {{ form(data.form) }}
        <div class="time_residue">
            Time residue: <span>{{ data.time_residue }}</span>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
            function checkTrue() {
                var len = $('#app_bundle_module_user_type input:checkbox:checked').length;

                if (len == 3)
                    $('#app_bundle_module_user_type input:checkbox:not(:checked)').attr('disabled','disabled');
                else
                    $('#app_bundle_module_user_type input:checkbox:not(:checked)').removeAttr('disabled');
            }
            checkTrue();

            $('#app_bundle_module_user_type input').click(function() {
                checkTrue();
            });
    </script>
{% endblock %}