{% extends '::base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <br/><br/><br/>
            <form class="form col-md-12 center-block" method="post" action="{{ path('choice_modules', {'email' : email}) }}">
                {% for item in modules %}
                    <div class="pull-left" style="margin: 20px">
                        <input type="checkbox" name="choice_module[]" value="{{ item.id }}">
                        <figure>
                            <img src="{{ item.pathImage | imagine_filter('page_choice') }}" alt="{{ item.nameImage }}" class="img-thumbnail">
                            <figcaption class="text-center">{{ item.title | capitalize }}</figcaption>
                        </figure>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Save</button>
                </div>
            </form>
    </div>
{% endblock %}