{% extends '::base.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>{% block title %}Test page{% endblock %}</h1>
        <ol class="breadcrumb">
            {#<li><a href="{{ url('admin_index') }}"><i class="fa fa-dashboard"></i> Home admin</a></li>#}
            {#<li><a href="{{ url('admin_comment_index') }}">Comment list</a></li>#}
            {#<li class="active">Edit Comment</li>#}
        </ol>
    </section>
    <section class="content">
        {{ app.user.email }}
        <p>
            <a href="{{ path('admin') }}" class="btn btn-primary btn-lg">ADMIN</a>
            <a href="{{ path('account') }}" class="btn btn-primary btn-lg">PERSONAL ACCOUNT</a>
            <a href="{{ path('logout') }}" class="btn btn-primary btn-lg">LOGOUT</a>
        </p>

        {% for item in modules %}
            <div class="col-md-4">
                <hr/>
                <h4><strong>{{ item.module.title }}</strong></h4>
                <hr/>
                <table class="table-hover">
                    <tr>
                        <td width="150px">Count Questions</td>
                        <td>{{ item.module.CountQuestions }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Max Rating</td>
                        <td>{{ item.module.rating }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Min persent</td>
                        <td>{{ item.module.persentSuccess }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Time</td>
                        <td>{{ item.module.time }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Attempts</td>
                        <td>{{ item.module.attempts }}</td>
                    </tr>
                </table>
                <a href="{{ path('ident_pass',{ 'idModule' : item.module.id }) }}" class="btn btn-primary btn-md">Start test</a>
            </div>
        {% endfor %}


    </section>
{% endblock %}


