{% extends '::base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <p>
            E-mail:<strong> {{ user.email }}</strong>
        </p>
        <p>
            Name:<em> {{ user.firstName | capitalize }} {{ user.lastName | capitalize }}</em>
        </p>
        <p>
            <a href="{{ path('admin') }}" class="btn btn-primary btn-lg">ADMIN</a>
            <a href="{{ path('logout') }}" class="btn btn-primary btn-lg">LOGOUT</a>
        </p>

        <table class="table-hover" width="100%">
            <th width="22%">Test name</th><th width="20%">Attempts</th>
            <th width="15%">Rating</th><th width="15%">Results</th>
            <th width="13%">Questions</th><th width="15%">Time for test, m</th>

            {% for item in modules %}
                {% if item.status == 'success' %}
                    {% set color = 'background-color : green' %}
                {% elseif item.status == 'failed' %}
                    {% set color = 'background-color : red' %}
                {% else %}
                    {% set color =  'background-color : none'%}
                {% endif %}
                <tr style="{{ color }}">
                    <td>{{ item.module.title }}</td>
                    <td>
                        {{ item.getCountPassModules }} / {{ item.module.attempts }}
                        {% if item.status == 'active' and user == app.user %}
                            <a href="{{ path('ident_pass',{ 'idModule' : item.module.id }) }}" style="border: 1px solid blue">Run test</a>
                        {% endif %}
                    </td>
                    {% if item.getLastModule.getAbsoluteResult is defined %}
                        <td>{{ item.getLastModule.getAbsoluteResult | round(2, 'floor') }} / {{ item.module.rating }}</td>
                    {% else %}
                        <td>0 / {{ item.module.rating }}</td>
                    {% endif %}
                    <td>show results</td>
                    <td>{{ item.module.getCountQuestions }}</td>
                    <td>{{ item.module.time }}</td>
                    <input type="hidden" class="rowId" value="{{ item.id }}">
                </tr>
            {% endfor %}
        </table>
        <div class="modalWindow"></div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $("table tr").click(function() {
                var id = $(this).find('input.rowId').val();
                var modal = $('.modalWindow');
                $.ajax({
                    type: 'POST',
                    data: {
                        module : id
                    },
                    url: "{{ path('account') }}"
                })
                        .success(function(response) {
                            var obj = JSON.parse(response);
                            var i = 1;
                            modal.fadeIn('slow');
                            if (obj.moduleAjax.length > 0) {
                                var html = '<table>';
                                $.each(obj.moduleAjax, function(key, value) {
                                    html += '<tr><td>Attempt #' + i++ + '</td></tr>';
                                    html += '<tr><td>Start ' + value.timeStart.date.toString() + '</td></tr>';
                                    html += '<tr><td>Finish ' + value.timeFinish.date.toString() + '</td></tr>';
                                    html += '<tr><td>Result</td>';
                                    html += '<td>' + value.result.toFixed(2) + '</td></tr>';
                                    html += '<tr><td>Percent</td>';
                                    html += '<td>' + value.percent.toFixed(2) + '</td></tr>';
                                });
                                html += '</table>';
                                modal.html(html);
                            } else {
                                modal.html('<p>not found result</p>');
                            }
                        })
            });
            $('.modalWindow').click(function(){
                $(this).fadeOut('slow');
            });
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .modalWindow {
            display: none;
            width:300px;
            height:300px;
            border:2px solid #FF0000;
            box-shadow: 0 0 3px #000;
            background-color: #eee9ed;
            position:absolute;
            top:20%;
            left:50%;
            margin-left: -150px;
            z-index: 1;
        }
    </style>
{% endblock %}