{% extends '::base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <p>
            Your E-mail:<strong> {{ app.user.email }}</strong>
        </p>
        <p>
            Your name:<em> {{ app.user.firstName | capitalize }} {{ app.user.lastName | capitalize }}</em>
        </p>
        <p>
            <a href="{{ path('admin') }}" class="btn btn-primary btn-lg">ADMIN</a>
            <a href="{{ path('show_test') }}" class="btn btn-primary btn-lg">TEST</a>
            <a href="{{ path('logout') }}" class="btn btn-primary btn-lg">LOGOUT</a>
        </p>
        <div class="col-md-4">
            <h4>All modules appointed to you</h4>
            <br/>
            {% for item in modules %}
                <table class="table-hover">
                    <tr>
                        <td width="150px"><strong>Title Module</strong></td>
                        <td>{{ item.module.title }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Max Rating</td>
                        <td>{{ item.module.rating }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Min persent</td>
                        <td>{{ item.module.persentSuccess }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Time</td>
                        <td>{{ item.module.time }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Attempts</td>
                        <td>{{ item.module.attempts }}</td>
                    </tr>
                </table>
                <br/>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h4>All modules finished by you</h4>
            <br/>
            {% for item in finishModules %}
                <table class="table-hover">
                    <tr>
                        <td width="150px"><strong>Title Module</strong></td>
                        <td>{{ item.module.title }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Time</td>
                        <td>{{ item.module.time }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Max Rating</td>
                        <td>{{ item.module.rating }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Min persent</td>
                        <td>{{ item.module.persentSuccess }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Max attempts</td>
                        <td>{{ item.module.attempts }}</td>
                    </tr>
                    {% for pass in item.passModules %}
                        <tr>
                            <td width="150px" style="border-bottom: 1px solid black"><strong>Your Attempt {{ loop.index }}</strong></td>
                            <td style="border-bottom: 1px solid black">Start {{ pass.timeStart | date('d.m.Y H:i:s') }}</td>
                        </tr>
                        <tr>
                            <td width="150px">Your Rating</td>
                            <td>{{ showRating(pass) | round(2, 'floor') }}</td>
                        </tr>
                        <tr>
                            <td width="150px">Your Persent</td>
                            <td>{{ showPersent(pass) | round(2, 'floor') }}</td>
                        </tr>
                        <tr>
                            <td width="150px">Your Time</td>
                            <td>{{ showTime(pass) }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        {% if item.status == 'failed' %}
                            {% set color = 'background-color: red' %}
                        {% else %}
                            {% set color = 'background-color: green' %}
                        {% endif %}
                        <td width="150px" style="{{ color }}"><strong>Finish Status</strong></td>
                        <td style="{{ color }}">{{ item.status }}</td>
                    </tr>
                </table>
                <br/>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h4>All modules begun by you, but yet not finished</h4>
            {% for item in startModules %}
                <table class="table-hover">
                    <tr>
                        <td width="150px"><strong>Title Module</strong></td>
                        <td>{{ item.module.title }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Time</td>
                        <td>{{ item.module.time }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Max Rating</td>
                        <td>{{ item.module.rating }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Min persent</td>
                        <td>{{ item.module.persentSuccess }}</td>
                    </tr>
                    <tr>
                        <td width="150px">Max attempts</td>
                        <td>{{ item.module.attempts }}</td>
                    </tr>
                    {% for pass in item.passModules %}
                        <tr>
                            <td width="150px"><strong>Your Attempt {{ loop.index }}</strong></td>
                        </tr>
                        <tr>
                            <td width="150px">Your Rating</td>
                            <td>{{ showRating(pass) | round(2, 'floor') }}</td>
                        </tr>
                        <tr>
                            <td width="150px">Your Persent</td>
                            <td>{{ showPersent(pass) | round(2, 'floor') }}</td>
                        </tr>
                        <tr>
                            <td width="150px">Your Time</td>
                            <td>{{ showTime(pass) }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <br/>
            {% endfor %}
        </div>
    </div>
{% endblock %}


