{% extends '::adminbase.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>{% block title %}Admin zone{% endblock %}</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ count_questions }}</h3>

                        <p>Questions</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-question-circle"></i>
                    </div>
                    <div class="small-box-footer">&nbsp;</div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ count_categories }}</h3>

                        <p>Categories</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-tag"></i>
                    </div>
                    <a href="{{ path('show_category') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ count_modules }}</h3>

                        <p>Modules</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-mortar-board"></i>
                    </div>
                    <a href="{{ path('show_module') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{ count_users }}</h3>

                        <p>Users</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="{{ path('user_show') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

        </div>

    </section>
{% endblock %}


