{% extends '::adminbase.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>{% block title %}User List{% endblock %}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('admin') }}"><i class="fa fa-dashboard"></i> Home admin</a></li>
            <li class="active">User list</li>
        </ol>
    </section>

    <section class="content">
        <div class="box">
        <table class="table table-border table-hover">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Active</th>
            <th>Locked</th>
            <th width="50px">Info</th>
            <th width="70px">Modules</th>
            <th width="50px">Edit</th>
            <th width="70px">Remove</th>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{% if user.isEnabled %}YES{% else %}NO{% endif %}</td>
                    <td>{% if user.isLocked %}YES{% else %}NO{% endif %}</td>
                    <td class="text-center"><a href="{{ path('admin_account', {'id' : user.id }) }}"><i class="glyphicon glyphicon-search"></i></a></td>
                    <td class="text-center"><a href="{{ path('create_moduleUser', {'idUser': user.id }) }}">
                            <i class="fa fa-mortar-board"></i></a> ({{ user.countModules }})</td>
                    <td><a style="margin-left: 7px;" class="glyphicon glyphicon-pencil"
                           href="{{ path('edit_user', { 'id': user.id }) }}"></a></td>
                    <td class="text-center">{{ form(form_remove[user.id]) }}</td>
                </tr>
            {% endfor %}
        </table></div>

    </section>


{% endblock %}
