{% extends '::adminbase.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>{% block title %}Create Module{% endblock %}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('admin') }}"><i class="fa fa-dashboard"></i> Home admin</a></li>
            <li><a href="{{ url('show_module') }}">Module list</a></li>
            <li class="active">Create Module</li>
        </ol>
    </section>

    <section class="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <br/>
        <input type="submit" VALUE="Save" class="btn btn-large btn-primary" id="submit">
        {{ form_end(form) }}

        {% if module is defined %}
            <a href="{{ path('show_question', {'idModule': module.id}) }}" class="btn btn-large btn-primary pull-right">Edit Question</a>
        {% endif %}

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $(".chosen-select").chosen({
                no_results_text: "Oops, nothing found!",
                placeholder_text_single: "There are no available modules for the choice",
                width: "100%"
            });

        })
    </script>
{% endblock %}