{% extends '::adminbase.html.twig' %}

{% block content %}
    <section class="content-header">
        <ol class="breadcrumb">
            {#<li><a href="{{ url('admin_index') }}"><i class="fa fa-dashboard"></i> Home admin</a></li>#}
            {#<li><a href="{{ url('admin_comment_index') }}">Comment list</a></li>#}
            {#<li class="active">Edit Comment</li>#}
        </ol>
    </section>

    <section class="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <br/>
        <div>
            <input type="submit" value="Add answer" class="jslink">
        </div>
        <br/>
        <input type="submit" VALUE="Save" class="btn btn-large btn-primary pull-left" id="submit">
        {{ form_end(form) }}
        <a href="{{ path('show_module') }}" class="btn btn-large btn-primary pull-right">DONE</a>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

       function add() {
           var collectionHolder = $('#app_bundle_question_type_answers');
           var prototype = collectionHolder.attr('data-prototype');
           // Sustituye __name__ con el número de hijos que tiene el div #nencargo_attachments, es decir, la cantidad de archivos adjuntos que hay.
           var form = prototype.replace(/__name__/g, collectionHolder.children().length);
           $(form).filter('div').parent().html($(form).html() + '<a class="delete_link" href="#">Remove</a>');
           collectionHolder.append(form);

       }
       $('input.jslink').click(function (event) {
           event.preventDefault();
           add();
       });
       $(document).on('click', 'a.delete_link', function (event) {
           $(event.currentTarget).parent().remove();
       });
    </script>
{% endblock %}