{% extends '::adminbase.html.twig' %}

{% block content %}
    <section class="content-header">
        <ol class="breadcrumb">
            {#<li><a href="{{ url('admin_index') }}"><i class="fa fa-dashboard"></i> Home admin</a></li>#}
            {#<li><a href="{{ url('admin_comment_index') }}">Comment list</a></li>#}
            {#<li class="active">Edit Comment</li>#}
        </ol>
    </section>

    <section class="content">
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ flash_message }}</strong>
            </div>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <br/>
        {#<div>#}
            {#&#123;&#35;<input type="submit" value="Add answer" class="jslink">&#35;&#125;#}
        {#</div>#}
        <br/>
        <input type="submit" VALUE="Save" class="btn btn-large btn-primary pull-left" id="submit">
        {{ form_end(form) }}
        <a href="{{ path('show_module') }}" class="btn btn-large btn-primary pull-right">DONE</a>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(function(){
            // setup an "add a tag" link
            var addLink = $('<a class="btn btn-primary add">Add Answer</a>');
            var deleteLink = $('<a class="btn btn-danger remove"><i class="fa fa-trash"></i></a>');

            function addLinkClick(e) {
                e.preventDefault();

                var collection = $(this).closest('#app_bundle_question_type_answers');
                var count = collection.children().length - 1;

                var prototype = collection.data('prototype').replace(/__name__/g, count);
                prototype = $(prototype).wrap('<li>').parent();

                    prototype.append(deleteLink.clone().click(deleteLinkClick));

                $(this).parent().before(prototype);

            }

            function deleteLinkClick(e) {
                e.preventDefault();
                $(this).parent().remove();
            }

            $('form .collection-allow-delete').each(function(){
                $(this).children().append(deleteLink.clone().click(deleteLinkClick));
            });

            $('form #app_bundle_question_type_answers').each(function(){
                if (!$(this).data('prototype').length) return;

                var li = $('<li/>').append(addLink.click(addLinkClick));
                $(this).append(li);
            });

            var incorrectCheck = $('#app_bundle_question_type_allIncorrect');
            incorrectCheck.click(function() {
                if (this.checked) {
                    $("#app_bundle_question_type_answers" + " input:checkbox").attr('disabled', true).val(false);
                } else {
                    $("#app_bundle_question_type_answers" + " input:checkbox").attr('disabled', false);
                }
            });



        });
    </script>
{% endblock %}