{% extends '::adminbase.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>{% block title %}Update Question{% endblock %}</h1>
        <ol class="breadcrumb">
            {#<li><a href="{{ url('admin_index') }}"><i class="fa fa-dashboard"></i> Home admin</a></li>#}
            {#<li><a href="{{ url('admin_comment_index') }}">Comment list</a></li>#}
            {#<li class="active">Edit Comment</li>#}
        </ol>
    </section>
    <section class="content">
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ flash_message }}</strong>
            </div>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}

        <br/>
        <input type="submit" VALUE="Save" class="btn btn-large btn-primary pull-left" id="submit">
        {{ form_end(form) }}
        <a href="{{ path('show_module') }}" class="btn btn-large btn-danger pull-right">DONE</a>
        <a href="{{ path('show_question', {'idModule': idModule}) }}" class="btn btn-large btn-warning pull-right q-list">Question list</a>
    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include '@App/admin/question/commonJs.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    #app_bundle_question_type_answers > div > div {
        display: inline-block;
        vertical-align: middle;

    }

    #app_bundle_question_type_answers > div > label {
        display: none;
    }

    #app_bundle_question_type_answers .btn-danger {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
    #app_bundle_question_type_answers > div {
        border-bottom: 2px solid #6B6B6B;
        padding: 10px;
        margin-bottom: 10px
    }
    #app_bundle_question_type_answers {
        padding-left: 20px;
        border-left: 10px solid #3C8DBC;
     }
    .q-list {
        margin-right: 50px;
    }

    </style>
{% endblock %}