{% extends '::adminbase.html.twig' %}

{% block content %}
    <section class="content-header">
        <ol class="breadcrumb">
            {#<li><a href="{{ url('admin_index') }}"><i class="fa fa-dashboard"></i> Home admin</a></li>#}
            {#<li><a href="{{ url('admin_comment_index') }}">Comment list</a></li>#}
            {#<li class="active">Edit Comment</li>#}
        </ol>
    </section>

    <section class="content">
        <table class="table table-border table-hover">
            <th>Title</th>
            <th>Sort</th>
            <th>Edit</th>
            <th>Remove</th>
            {% for question in questions %}
                <tr>
                    <td>{{ question.textQuestion }}</td>
                    <td>{{ question.sort }}</td>
                    <td><a href="{{ path('edit_question', {'id' : question.id,'idModule': idModule}) }}">
                            <i class="glyphicon glyphicon-pencil btn-link"></i></a></td>
                    <td>{{ form(form_remove[question.id]) }}</td>
                </tr>
            {% endfor %}
        </table>

    </section>


{% endblock %}
