{% extends '::adminbase.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>{% block title %}Create Module User{% endblock %}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('admin') }}"><i class="fa fa-dashboard"></i> Home admin</a></li>
            <li><a href="{{ url('user_show') }}">Users list</a></li>
            <li class="active">Create Module User</li>
        </ol>
    </section>

    <section class="content">
        <table>
            <h4>The modules chosen for the user</h4>
            {% for item in modulesUser %}
                <tr>
                    <td width="20px">{{ loop.index }}</td>
                    <td width="100px">{{ item.module.title }}</td>
                    <td width="10px">{{ form(form_remove[item.module.id]) }}</td>
                </tr>
            {% endfor %}
        </table>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <br/>
        <input type="submit" VALUE="Save" class="btn btn-large btn-primary" id="submit">
        {{ form_end(form) }}
    </section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        $(function () {
            $(".chosen-select").chosen({
                no_results_text: "Oops, nothing found!",
                placeholder_text_single: "There are no available modules for the choice",
                width: "100%"
            });

        })
    </script>
{% endblock %}
