{% extends '::indexbase.html.twig' %}

{% block content %}
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="col-xs-12 alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ flash_message }}</strong>
            </div>
        {% endfor %}


        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{{ path('admin') }}"class="btn btn-primary btn-lg btn-block">Go to admin Panel</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{ path('logout') }}" class="btn btn-primary btn-lg btn-block">LOGOUT</a>
                    </div>
                </div>
            </div>
        {% elseif is_granted('ROLE_USER')  %}
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{{ path('account') }}"class="btn btn-primary btn-lg btn-block">Go to Account</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{ path('logout') }}" class="btn btn-primary btn-lg btn-block">LOGOUT</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{{ path('login_route') }}" class="btn btn-primary btn-lg btn-block">Login</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{ path('user_registration') }}" class="btn btn-primary btn-lg btn-block">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h3 class="text-center section-title">or login with</h3>
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <a href="{{ path('facebook_login') }}" class="btn-facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="{{ path('google_login') }}" class="btn-google">
                            <i class="fa fa-google-plus-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

{% endblock %}