{% extends '::base.html.twig' %}

{% block content %}
    <section class="col-xs-12 question-bl">
        <header>
            <div class="time_residue" id="clock"></div>
            <ul class="pagination">
                {% for i in 1..data.count_questions %}
                    <li class="{{ i == data.current_number_question ? 'active' }} {{ i < data.current_number_question ? 'disabled' }}">
                        <span>{{ i }}</span>
                    </li>
                {% endfor %}
            </ul>
        </header>

        <h1>
            {{ data.question.textQuestion }}
        </h1>
        {% form_theme data.form 'bootstrap_3_layout.html.twig' %}
        {{ form(data.form) }}

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.countdown.min.js') }}"></script>
    <script>
        var time = '{{ data.time_residue }}'.split(':');
        var date = new Date(new Date().valueOf() +(time[0]*60*60 + time[1]*60 + +time[2]) * 1000);
        $('#clock').countdown(date, function(event) {
            $(this).html(event.strftime('%H:%M:%S'));
        })
        .on('finish.countdown', function(event) {
            $('form[name=app_bundle_module_user_type]').submit();
        });

            function checkTrue() {
                var len = $('#app_bundle_module_user_type input:checkbox:checked').length;

                if (len == 3)
                    $('#app_bundle_module_user_type input:checkbox:not(:checked)').attr('disabled','disabled');
                else
                    $('#app_bundle_module_user_type input:checkbox:not(:checked)').removeAttr('disabled');
            }
            checkTrue();

            $('#app_bundle_module_user_type input').click(function() {
                checkTrue();
            });
    </script>
{% endblock %}

