{% extends '::base.html.twig' %}

{% block content %}
    <section class="col-xs-12">
        <h1>
            Result for "{{ passModule.moduleUser.module.title }}"
        </h1>

        <p>Your result is <strong>{{ passModule.absoluteResult | number_format(2) }}</strong> /
            <strong>{{ passModule.moduleUser.module.rating  }}</strong> points</p>
        <p>Test is <strong>{{ passModule.stateResult }}</strong></p>

        <a href="{{ path('account') }}" class="btn btn-primary">Back to account</a>
    </section>
{% endblock %}